<div class="card main">
  <div class="card-header align-middle">
    <div class="card-title text-center align-middle">
      <h1>流年運</h1>
    </div>
    <%= button_to "命式", people_path, params: person_params(@person), class: 'btn btn-primary'%>
    <%= button_to "大運", people_fortune_of_decades_path, params: person_params(@person), class: 'btn btn-primary'%>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col col-lg-8">
        <canvas class="gogyo-line" width="400" height="150" data-dates=<%= @fortune_of_years.dates.to_json %> data-gogyo=<%= @fortune_of_years.gogyo_hash.to_json %>></canvas>
      </div>
    </div>
    <div class="row">
      <div class="col col-lg-1">
        <%= button_to "<", people_fortune_of_years_path, params: @fortune_of_years.path_to_index(-5), class: 'btn btn-primary' %>
        <%= button_to "<<", people_fortune_of_years_path, params: @fortune_of_years.path_to_index(-10), class: 'btn btn-primary' %>
      </div>
      <div class="col col-lg-6"></div>
      <div class="col col-lg-1">
        <%= button_to ">", people_fortune_of_years_path, params: @fortune_of_years.path_to_index(5), class: 'btn btn-primary' %>
        <%= button_to ">>", people_fortune_of_years_path, params: @fortune_of_years.path_to_index(10), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
<div class="card main">
  <div class="card-body">
    <div class="row">
      <div class="col col-lg-8">
        <div class="row">
          <div class="col-md-3 col-lg-3"></div>
          <div class="col-md-9 col-lg-9">
            <div class="row border">
              <% @fortune_of_years.gogyo.keys.each do |gogyo| %>
                <div class="col"><%= gogyo.name %></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-lg-8">
        <% @fortune_of_years.each do |fortune_value| %>
          <div class="row">
            <div class="col-md-3 col-lg-3">
              <%= l fortune_value.date %>
              <br>
              <div class="row">
                <div class="col">
                  <%= link_to "干支", "#kanshi#{fortune_value.date}", data: { bs_toggle: :collapse }, role: :button, aria: { expanded: :false, controls: "kanshi#{fortune_value.date}" }, class: 'btn btn-primary'%>
                </div>
                <div class="col">
                  <%= button_to "詳細", people_fortune_of_years_path, params: person_params(@person).merge({ range_start: fortune_value.date.to_s }), method: :patch, class: 'btn btn-primary' %>
                </div>
              </div>
            </div>
            <div class="col-md-9 col-lg-9">
              <div class="row border">
                <% fortune_value.gogyo_values.each do |gogyo_value| %>
                  <div class="col"><%= gogyo_value %></div>
                <% end %>
              </div>
              <div class="collapse" id="kanshi<%= fortune_value.date %>">
                <%= render partial: 'people/pillar', locals: { pillar: fortune_value.fortune, person: @person } %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
