<div class="card main">
  <div class="card-body" >
    <%= @person.errors.full_messages.join("\n") %>
    <%= form_with model: @person, local: true do |f| %>
      <div class="row mb-2">
        <div class="col-md-3">
          <%= f.label :name, {}, { class: 'form-label' } %>
        </div>
        <div class="col-md-6">
          <%= f.text_field :name, { class: 'form-select form-control' } %>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-3">
          <%= f.label :datetime_of_birth, {}, { class: 'form-label' } %>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <%= f.text_field :datetime_of_birth, class: 'js-flatpickr form-control form-control-sm', required: true %>
            <div class="input-group-text">
              <%= check_box_tag 'use_meikyu', true, false, class: 'form-check-input' %>
              <%= label_tag 'use_meikyu', '出生時間不明', for: 'use_meikyu', class: "mb-0 ml-1" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-3">
          <%= f.label :sex, {}, { class: 'form-label' } %>
        </div>
        <div class="col-md-6">
          <%= f.select :sex, options_for_select({ female: '女性', male: '男性' }.invert, :female), { include_blank: false }, { class: 'form-select form-control' } %>
        </div>
      </div>
      <div class="row">
        <div class="text-center">
          <%= f.submit '算出', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
