<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col col-lg-8">
        <canvas class="gogyo-line" width="400" height="150" data-gogyo=<%= @fortune_of_decades.gogyo_hash(10).to_json %>></canvas>
      </div>
    </div>
  </div>
</div>
<div class="card main">
  <div class="card-body">
    <div class="row">
      <div class="col col-lg-8">
        <div class="row">
          <div class="col-md-3 col-lg-3"></div>
          <div class="col-md-9 col-lg-9">
            <div class="row border">
              <% @fortune_of_decades.sorted_gogyo_keys.each do |gogyo| %>
                <div class="col"><%= gogyo.name %></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-lg-8">
        <% @fortune_of_decades.take(10).each do |date, fortune| %>
          <div class="row">
            <div class="col-md-3 col-lg-3">
              <%= l date %>
              <br>
              <%= link_to "干支", "#kanshi#{date}", data: { bs_toggle: :collapse }, role: :button, aria: { expanded: :false, controls: "kanshi#{date}" }, class: 'btn btn-primary'%>
            </div>
            <div class="col-md-9 col-lg-9">
              <div class="row border">
                <% fortune.gogyo_hash.values.each do |gogyo_value| %>
                  <div class="col"><%= gogyo_value %></div>
                <% end %>
              </div>
              <div class="collapse" id="kanshi<%= date %>">
                <%= render partial: 'people/pillar', locals: { pillar: fortune, person: @person } %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
